version: "2"

networks:
  gitea:
    external: false

volumes:
  gitea:
    driver: local

services:
  server:
    image: gitea/gitea:latest
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks: 
      - gitea
    volumes:
      - ./gitea:/data
    ports:
     - "3000:3000"
     - "222:22"
